/* Styles de base */
body {
  position: relative;
  min-height: 100vh;
  background-color: #f1f1f1;
  background-image: url('C:/Users/Admin/Downloads/LOGIN4/LOGIN.jpg');
  background-size: cover;
  background-position: center;
}

.box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 630px;
  height: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgb(212, 212, 212);
  border: 1px solid #b0afaf;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  z-index: 1;
}

.logo {
  width: 250px;
  height: 300px;
  margin-right: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 90px;
  width: 100%;
}

.signin-button {
  background-color: black;
  color: white;
  border-radius: 20px;
  width: 80px;
  padding: 0px;
  margin-top: 25px;
}

.create-account {
  margin-top: 25px;
  color: black;
  font-size: 14px;
}

input[type="email"],
input[type="password"] {
  border: 1px solid #ddd;
  padding: 0px;
  border-radius: 10px;
  width: 100%;
  max-width: 250px;
  outline: none;
  margin-top: 0px;
}

.footer-line {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20px;
  background-color: rgb(130, 94, 93);
}

h1 {
  text-align: center;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 30px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Styles pour les téléphones */
@media (max-width: 600px) {
  .box {
    width: 90%;
    height: auto;
    margin: 20px auto;
    padding: 10px;
    flex-direction: column;
    align-items: center;
  }

  .logo {
    width: 150px;
    height: 180px;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .content {
    align-items: center;
    margin-top: 40px;
  }

  input[type="email"],
  input[type="password"] {
    max-width: 200px;
  }

  h1 {
    font-size: 24px;
  }
}

/* Styles pour les tablettes */
@media (min-width: 601px) and (max-width: 1024px) {
  .box {
    width: 80%;
    max-width: 500px;
  }

  .logo {
    width: 200px;
    height: 240px;
    margin-right: 15px;
  }
}