/* Styles de base */
body {
    position: relative;
    min-height: 100vh;
    background-color: #f1f1f1;
    background-image: url('C:/Users/Admin/Downloads/LOGIN4/LOGIN.jpg');
    background-size: cover;
    background-position: center;
  }
  
  .box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 630px;
    height: 425px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(233, 233, 233);
    border: 1px solid #b0afaf;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    z-index: 1;
  }
  
  .logo {
    width: 250px;
    height: 300px;
    margin-right: 20px;
    border-radius: 10px;
    border: 2px solid whitesmoke;
    margin-top: -5px;
  }
  
  .content {
    display: flex;
    font-size: 12px;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 35px;
    width: 60%;
  }
  
  .signin-button {
    background-color: black;
    color: white;
    border-radius: 6px;
    width: 80px;
    padding: 2px 10px 2px 10px;
    margin-top: 25px;
  }
  
  .create-account {
    margin-top: 25px;
    color: black;
    font-size: 12px;
  }
  
  input[type="nom"],
  input[type="prénom"],
  input[type="localisation"],
  input[type="email"],
  input[type="password"] {
    border: 1px solid #ddd;
    padding: 3px;
    border-radius: 6px;
    width: 100%;
    max-width: 250px;
    outline: none;
    margin-top: 0px;
  }
  
  .footer {
    background-color: rgb(185, 165, 162);
    height: 30px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    position: relative;
    top: 610px;
  }
  
  h1 {
    text-align: center;
    position: absolute;
    top: 45px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    
  }
  
  /* Styles pour les téléphones */
  @media (max-width: 600px) {
    .box {
      width: 90%;
      height: 400px;
      margin: 20px auto;
      padding: 10px;
      flex-direction: column;
      align-items: center;
    }
  
    .logo {
      width: 200px;
      height: 300px;
      margin-left: -300px;
      margin-top: 30px;

    }
  
    .content {
      position: relative;
      top: -30px;
      align-items: center;
      margin-top: -1000px;
      margin-right: -230px;
      font-size: 11px
      
    }

    input[type="nom"],
    input[type="prénom"],
    input[type="localisation"],
    input[type="email"],
    input[type="password"] {
        border: 1px solid #ddd;
        padding: 1px;
        border-radius: 6px;
        width: 100%;
        max-width: 250px;
        outline: none;
        margin-top: 0px;
    }

    .signin-button {
        background-color: black;
        color: white;
        border-radius: 6px;
        width: 80px;
        padding: 2px 10px 2px 10px;
        margin-top: 25px;
      }

      .create-account {
        margin-top: 25px;
        color: black;
        font-size: 10px;
      }
  
   
  
    h1 {
      font-size: 24px;

    }
}


  
  
  
@media (max-width: 593px) {
    .logo {
        width: 200px;
        height: 300px;
        margin-left: -280px;
        margin-top: 30px;
  
      }
    }

@media (max-width: 595px) {

    h1 {
        position: absolute;
        top: 90px;
        font-size: 24px;
        

  
      }


    }

@media (max-width: 703px) {

    h1 {
        position: absolute;
        top: 75px;
        font-size: 29px;
        

  
      }
}

@media (max-width: 912px) {
    h1 {
        position: absolute;
        top: 400px;
        font-size: 35px;
        

  
      }

    .box {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 1000px;
        max-width: 630px;
        height: 425px;
        margin: 0 auto;
        padding: 20px;
        background-color: rgb(233, 233, 233);
        border: 1px solid #b0afaf;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 10px;
        z-index: 1;
      }

    .content {
     position: relative;
       
        align-items: center;
       
        font-size: 12px
        
    }


}

@media (max-width: 1024px) {
    h1 {
        position: absolute;
        top: 400px;
        font-size: 35px;
        

  
      }

    .box {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 1000px;
        max-width: 630px;
        height: 425px;
        margin: 0 auto;
        padding: 20px;
        background-color: rgb(233, 233, 233);
        border: 1px solid #b0afaf;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 10px;
        z-index: 1;
      }

    .content {
     position: relative;
       
        align-items: center;
       
        font-size: 12px
        
    }


}

@media (max-width: 540px) {

    .logo {
        width: 200px;
        height: 300px;
        margin-left: -255px;
        margin-top: 30px;
  
      }

    .signin-button {
        background-color: black;
        color: white;
        border-radius: 6px;
        width: 70px;
        padding: 2px 10px 2px 10px;
        margin-top: 25px;
    }

    .content {
        position: relative;
        top: -30px;
        align-items: center;
        margin-top: -1000px;
        margin-right: -210px;
        font-size: 11px
        
      }

    h1 {
        position: absolute;
        top: 120px;
        font-size: 29px;
        

  
      }
}

@media (max-width: 820px) {
    h1 {
        position: absolute;
        top: 300px;
        font-size: 35px;
        

  
      }

    .box {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 1000px;
        max-width: 630px;
        height: 425px;
        margin: 0 auto;
        padding: 20px;
        background-color: rgb(233, 233, 233);
        border: 1px solid #b0afaf;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 10px;
        z-index: 1;
      }

    .content {
     position: relative;
       
        align-items: center;
       
        font-size: 12px
        
    }
}

@media (max-width: 768px) {
    h1 {
        position: absolute;
        top: 240px;
        font-size: 35px;
        

  
      }

    .box {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 1000px;
        max-width: 630px;
        height: 425px;
        margin: 0 auto;
        padding: 20px;
        background-color: rgb(233, 233, 233);
        border: 1px solid #b0afaf;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 10px;
        z-index: 1;
      }

    .content {
     position: relative;
       
        align-items: center;
       
        font-size: 12px
        
    }


}







 
